<h1>Congratulations on finishing!</h1>
<p>Your score: <%= @qCorrect %>/<%= @qAttempted %></p>
<p>Overall Stats: <%= @sCorrect %>/<%= @sAttempted %></p>
<a class="btn btn-default" href="/" role="button">Back to Home</a>